JWT_SECRET_KEY=secret-key
OLLAMA_URL=http://localhost:11434/api/generate
MODEL_NAME=gemma3:4b
SMTP_EMAIL=your_email@gmail.com
SMTP_PASSWORD=your_app_password
DOMAIN=http://localhost:5173
LOGO=logo.png

AWS_ACCESS_KEY_ID=XXXXX
AWS_SECRET_ACCESS_KEY=XXXXX
AWS_REGION=us-east-1

#BEDROCK/OLLAMA
LLM_USED=BEDROCK
AWS_MODEL=amazon.nova-lite-v1:0

#LLM/PADDLEOCR
OCR_PROVIDER=LLM