.login-container {
  display: flex;
  flex-direction: column;
  width: 300px;
  margin: auto;
}

html, body {
  margin: 0;
  padding: 0;
  overflow-x: hidden; 
}

.login-container input {
  margin-bottom: 10px;
  padding: 10px;
  width: 92%;
}

.forgot-wrapper {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 15px;
}

.forgot-wrapper a {
  font-size: 14px;
  text-decoration: none;
  color: #4a3aff;
}

button {
  padding: 10px;
  background: #3366ff;
  color: white;
  border: none;
  border-radius: 6px;
  width:100%;
}
h2 {
  text-align: center;
  margin-bottom: 20px;
}

form {
  display: flex;
  flex-direction: column;
}

.error {
    color: red;
    font-size: 12px;
    margin-top: 10px;
    background-color: #ffbfbf;
}

#root{
  border-inline:none !important;
  width:100%;
}


.success {
  background: #ecfdf5;
  color: #065f46;
  border-left: 4px solid #10b981;
  padding: 10px 12px;
  border-radius: 8px;
  font-size: 13px;
  margin-bottom: 12px;
  display: flex;
  align-items: center;
  gap: 6px;
}